{% load i18n %}
<html lang="ru-ru"><script src="chrome-extension://eppiocemhmnlbhjplcgkofciiegomcon/content/location/location.js" id="eppiocemhmnlbhjplcgkofciiegomcon"></script><script src="chrome-extension://eppiocemhmnlbhjplcgkofciiegomcon/libs/extend-native-history-api.js"></script><script src="chrome-extension://eppiocemhmnlbhjplcgkofciiegomcon/libs/requests.js"></script>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Task Manager Hexlet" %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
  <body class="d-flex flex-column min-vh-100" bis_register="W3sibWFzdGVyIjp0cnVlLCJleHRlbnNpb25JZCI6ImVwcGlvY2VtaG1ubGJoanBsY2drb2ZjaWllZ29tY29uIiwiYWRibG9ja2VyU3RhdHVzIjp7IkRJU1BMQVkiOiJkaXNhYmxlZCIsIkZBQ0VCT09LIjoiZGlzYWJsZWQiLCJUV0lUVEVSIjoiZGlzYWJsZWQiLCJSRURESVQiOiJkaXNhYmxlZCIsIlBJTlRFUkVTVCI6ImRpc2FibGVkIiwiSU5TVEFHUkFNIjoiZGlzYWJsZWQiLCJUSUtUT0siOiJkaXNhYmxlZCIsIkxJTktFRElOIjoiZGlzYWJsZWQiLCJDT05GSUciOiJkaXNhYmxlZCJ9LCJ2ZXJzaW9uIjoiMi4wLjI2Iiwic2NvcmUiOjIwMDI2fV0=" __processed_e242995f-67e3-451f-95a0-97d4b1b133bb__="true">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ms-3">
      <a class="navbar-brand" href="/">{% trans "Task Manager" %}</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent" bis_skin_checked="1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/users/">{% trans "Users" %}</a>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="/statuses/">{% trans "Statuses" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/labels/">{% trans "Labels" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tasks/">{% trans "Tasks" %}</a>
            </li>

        </ul>
        <ul class="navbar-nav">

            <form action="/logout/" method="post">
              <input type="hidden" name="csrfmiddlewaretoken" value="aMhgzGCz6iKSIqCfnAzOORmmLJEKj3CSjiI0oOhgzDjdect23sk9HNO5kflFmgcN">
              <input class="btn nav-link" type="submit" value="Выход">
            </form>

        </ul>
      </div>
    </nav>
    <div class="container wrapper flex-grow-1" bis_skin_checked="1">